<footer style="text-align: center;">
    <div class="navbar" id="myNavbar">
            
            <a href="https://akdavis83.github.io/AD/prayer.html" id="prayer">Prayer</a>
            <a href="https://akdavis83.github.io/ADMin/devo1-24.html" id="blog">Blog</a>
            <a href="https://akdavis83.github.io/AD/" id="water">Water</a>
            <a href="https://akdavis83.github.io/ADMin/" id="fire">Fire</a>
            <a href="/register" id="store">Register</a>
            <a href="/testimony" id="testimony">Story</a>
            <a href="/" id="home">Home</a> 
            <p>ADM Copy Rights&copy;2024</p>
          </div>
   
</footer>