
    <div id="one">
        <img src="/images/welcome8.png" alt="Welcome">
    </div>
    <h1 style="text-align: center;">Welcome TO MY Store!</h1>
   
    <h2 style="text-align: center; color: blue;">Faith Building Items Now Available!</h2>

   <h2 style="text-align: center;">
    <a href="https://akdavis83.github.io/Alan-Davis/downloads"><button class="btn10">Downloads</button></a>
   
   </h2>
